  <div class="container">
    <div class="panel-heading">
       <h3 class="py-2 text-center" style="color:grey;"><%= @user.first_name %> <%= @user.last_name %></h3>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  toppad" >
        <%= image_tag @user.photo, :class => "profile-image" %>
        <% if policy(@user).edit? %>
          <p class="text-center pt-2"><%= link_to "Edit profile", edit_user_registration_path, id:"link-organization", class:"ml-2"%></p>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  toppad" >


        <div class="panel panel-info">

          <div class="panel-body">
            <div class="row">
              <div class="text-left card-event-show col-lg-10 col-md-6 col-sm-12">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td><i class="fas fa-calendar"></i></td>
                      <td><%= Time.zone.now.year - @user.dob.year %></td>
                    </tr>
                    <tr>
                      <td><i class="fas fa-map-pin"></i></td>
                      <td><%= @user.city %></td>
                    </tr>
                    <tr>
                      <td><i class="far fa-envelope"></i></td>
                      <td><%= @user.email %></td>
                    </tr>
                    <tr>
                     <tr>
                      <td><i class="fas fa-phone"></i></td>
                      <td><%= @user.phone %></td>
                    </tr>
                    <tr>
                      <td><i class="fas fa-heart"></i></td>
                      <td><%= @user.interests %></td>
                    </tr>
                    <tr>
                      <td><i class="far fa-comment-alt"></i></td>
                      <td><%= @user.bio %></td>
                    </tr>
                  </tr>
                </tbody>
              </table>
              <% if current_user == @user %>
              <table>
                <tbody>
                  <tr>
                    <td class="ml-2">
                      <p><%= link_to "Do Good", events_path, class:"btn btn-success float-center" %></p>

                    </td>
                    <td>
                      <% if Organization.where(user:current_user).present? %>
                      <p><%= link_to "Go to Organization", organization_path(@organization), class:"btn-organization-show ml-2"%></p>
                      <% else %>
                      <p><%= link_to "Create organization", new_organization_path, class:"btn-organization-show ml-2" %></p>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <% if @user == current_user %>

    <div class="container mt-0">
      <h3 class="py-2 text-center" style="color:grey;">My Bookings</h3>


      <% if @bookings.empty? %>
        <div class="row card-background mt-4">
          <p>No Bookings yet</p>
        </div>
      <% end %>

      <%= render 'users/booking', bookings: @completed_bookings %>
      <%= render 'users/booking', bookings: @confirmed_bookings %>
      <%= render 'users/booking', bookings: @pending_bookings %>
      <%= render 'users/booking', bookings: @cancelled_bookings %>
      <%= render 'users/booking', bookings: @rejected_bookings %>
    </div>
  <% end %>
</div>
