  <div class="container">
    <div class="panel-heading">
       <h1 class="text-center mt-0"><%= @user.first_name %> <%= @user.last_name %></h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  toppad" >
        <%= image_tag @user.photo, :class => "profile-image" %>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  toppad" >


        <div class="panel panel-info">

          <div class="panel-body">
            <div class="row">
              <div class=" col-md-12 col-lg-12 ">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>Age:</td>
                      <td><%= Time.zone.now.year - @user.dob.year %></td>
                    </tr>
                    <tr>
                      <td>City:</td>
                      <td><%= @user.city %></td>
                    </tr>
                    <tr>
                      <td>Email:</td>
                      <td><%= @user.email %></td>
                    </tr>
                    <tr>
                     <tr>
                      <td>Phone</td>
                      <td><%= @user.phone %></td>
                    </tr>
                    <tr>
                      <td>Interests:</td>
                      <td><%= @user.interests %></td>
                    </tr>
                    <tr>
                      <td>Bio:</td>
                      <td><%= @user.bio %></td>
                    </tr>
                  </tr>

                </tbody>
              </table>
              <% if current_user == @user %>
              <table>
                <tbody>
                  <tr>
                    <td class="ml-2">
                      <p><%= link_to "Do Good", events_path, class:"btn btn-success float-center" %></p>

                    </td>
                    <td>
                      <% if Organization.where(user:current_user).present? %>
                      <p><%= link_to "Go to Organization", organization_path(@organization), class:"btn-organization-show ml-2"%></p>
                      <% else %>
                      <p><%= link_to "Create organization", new_organization_path, class:"btn-organization-show ml-2" %></p>
                      <% end %>
                    </td>
                    <td>
                      <% if policy(@user).edit? %>
                      <p><%= link_to "Edit profile", edit_user_registration_path, id:"link-organization", class:"ml-2"%></p>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


 <% if @user == current_user %>
    <div class="container mt-0">
      <h1 class="text-center">My Bookings</h1>


      <% if @bookings.empty? %>
        <div class="row card-background mt-4">
          <p>No Bookings yet</p>
        </div>
      <% end %>
      <%= render 'users/booking', bookings: @completed_bookings %>
      <%= render 'users/booking', bookings: @confirmed_bookings %>
      <%= render 'users/booking', bookings: @pending_bookings %>
      <%= render 'users/booking', bookings: @cancelled_bookings %>
      <%= render 'users/booking', bookings: @rejected_bookings %>
    </div>
  <% end %>
</div>
