
  <div class="container mt-5" id="view_container">
    <!-- <h1 class="text-center">My Profile</h1> -->
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 text-center">
        <%= image_tag "Jonsnow.jpg", :class => "avatar-extra-large"%>
      </div>
      <div class=" card col-lg-4 col-md-12 col-sm-12">
        <div class="row">
          <div class="col text-center"><h2><%= @user.first_name %> <%= @user.last_name %></h2></div>
          <div class="w-100"></div>
          <div class="col-4">Age:</div>
          <div class="col-8"><%= Time.zone.now.year - @user.dob.year %></div>
          <div class="w-100"></div>
          <div class="col-4">City:</div>
          <div class="col-8"><%= @user.city %></div>
          <div class="w-100"></div>
          <div class="col-4">Email:</div>
          <div class="col-8"><%= @user.email %></div>
          <div class="w-100"></div>
          <div class="col-4">Phone:</div>
          <div class="col-8"><%= @user.phone %></div>
          <div class="w-100"></div>
          <div class="col-4">Interests:</div>
          <div class="col-8"><%= @user.interests %></div>
          <div class="w-100"></div>
          <div class="col-4">Bio:</div>
          <div class="col-8"><%= @user.bio %></div>
          <div class="w-100"></div>
        </div>
      </div>
      <% if current_user == @user %>
      <div class=" card-do-good col-lg-2 col-md-12 col-sm-12">
        <p><%= link_to "Do Good", events_path, class:"btn btn-success" %></p>
          <% if policy(Organization).create? %>
            <p><%= link_to "Create an organization", new_organization_path %></p>
          <% end %>
          <%if Organization.where(user_id:current_user.id).present?  %>
            <p><%= link_to "Go to My Organization", organization_path(@organization)%></p>
          <% end %>
          <% if policy(@user).edit? %>
            <p><%= link_to "Edit your profile", edit_user_registration_path%></p>
          <% end %>

      </div>
      <% end %>
    </div>
  </div>
<!--  col-lg-8 col-md-8 col-sm-10 -->

<div class="container mt-0">

  <% if current_user == @user %>
    <h1 class="text-center">My Bookings</h1>
    <div class="row">
      <% if @bookings.empty? %>
        <p>No Bookings yet</p>
      <% else %>

        <% @bookings.each do |booking| %>

            <% if booking.status == "Confirmed"%>


              <div class="card-do-good col-lg-12 col-md-12 col-sm-12">
               <h2 class="text-left">Confirmed</h2>
                <div class="row card-background mt-4">
                 <div class="col col-lg-6   mt-3">
                     <p class="mb-0"><%= link_to booking.event.title, booking.event %></p>
                     Starts at: <%= booking.event.start_at.to_formatted_s(:long_ordinal) %>
                     Ends at: <%= booking.event.ends_at.to_formatted_s(:long_ordinal) %>
                     <!-- other datetime formats here https://api.rubyonrails.org/classes/DateTime.html -->
                 </div>

                 <div class="col-md-auto col-lg-6 col-md-8 col-sm-4 mt-3">

                  Address: <%= booking.event.address %>

                  <p>Spots: <%= booking.event.spots %> </p>
                 </div>

                 <div class="row card-background ml-0 mr-0">
                    <%= booking.event.description %>
                    <p>Task: <%= booking.event.task %></p>
                 </div>
                </div>
              </div>

            <!-- add background colors to the booking status -->


            <% elsif booking.status == "Completed" %>

                <div class="card-do-good col-lg-12 col-md-12 col-sm-12">
                 <div class="row">
                  <div class="col">
                 <h2 class="text-left">Completed</h2>
                 </div>
                  <div class="col col-lg-4 mt-2 mb-0">
                    <%= link_to "Write Review", new_review_path, class:"btn btn-completed float-right" %>
                   </div>
                   </div>
                  <div class="row card-background mt-4">
                   <div class="col col-lg-6   mt-3">
                       <p class="mb-0"><%= link_to booking.event.title, booking.event %></p>
                       Starts at: <%= booking.event.start_at.to_formatted_s(:long_ordinal) %>
                       Ends at: <%= booking.event.ends_at.to_formatted_s(:long_ordinal) %>
                       <!-- other datetime formats here https://api.rubyonrails.org/classes/DateTime.html -->
                   </div>

                   <div class="col-md-auto col-lg-6 col-md-8 col-sm-4 mt-3">

                    Address: <%= booking.event.address %>

                    <%= booking.event.spots %>
                   </div>

                   <div class="row card-background ml-0 mr-0">
                      <%= booking.event.description %>
                      <p>Task: <%= booking.event.task %></p>
                   </div>
                  </div>
                 </div>


            <% elsif booking.status == "Pending" %>


              <!-- HEEEEEEEEREEEEEEEEEE -->
              <div class="card-do-good col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                 <div class="col">
                 <h2 class="text-left">Pending</h2>
                 </div>
                 <div class="col col-lg-4 mt-2 mb-2">
                      <%= link_to 'Cancel Booking', current_user, data: {:confirm => 'Are you sure?'}, :method => :delete, class:" btn btn-cancelled btn-warning float-right" %>
                   </div>
                </div>
                <div class="row card-background mt-4">
                 <div class="col col-lg-4   mt-3">
                     <p class="mb-0"><%= link_to booking.event.title, booking.event %></p>
                     Starts at: <%= booking.event.start_at.to_formatted_s(:long_ordinal) %>
                     Ends at: <%= booking.event.ends_at.to_formatted_s(:long_ordinal) %>
                     <!-- other datetime formats here https://api.rubyonrails.org/classes/DateTime.html -->
                 </div>

                 <div class="col-md-auto col-lg-4 col-md-8 col-sm-4 mt-3">

                  Address: <%= booking.event.address %>

                  <%= booking.event.spots %>
                 </div>

                 <div class="row card-background ml-0 mr-0">
                    <%= booking.event.description %>
                    <p>Task: <%= booking.event.task %></p>
                 </div>
                </div>
              </div>



            <% elsif booking.status == "Rejected" %>

             <div class="card-do-good col-lg-12 col-md-12 col-sm-12">
              <h2 class="text-left">Rejected</h2>
                <div class="row card-background mt-4">
                 <div class="col col-lg-4   mt-3">
                     <p class="mb-0"><%= link_to booking.event.title, booking.event %></p>
                     Starts at: <%= booking.event.start_at.to_formatted_s(:long_ordinal) %>
                     Ends at: <%= booking.event.ends_at.to_formatted_s(:long_ordinal) %>
                     <!-- other datetime formats here https://api.rubyonrails.org/classes/DateTime.html -->
                 </div>

                 <div class="col-md-auto col-lg-4 col-md-8 col-sm-4 mt-3">

                  Address: <%= booking.event.address %>

                  <%= booking.event.spots %>
                 </div>
                 <div class="col col-lg-4 mt-2 mb-0">
                  <p class="btn float-right btn-rejected"><%= booking.status %></p>
                 </div>

                </div>
               </div>


              <%#= link_to 'Delete Booking', current_user_path,
             data: {:confirm => 'Are you sure?'}, :method => :delete %>

            <% elsif booking.status == "Cancelled" %>


             <div class="card-do-good col-lg-12 col-md-12 col-sm-12">
              <h2 class="text-left">Cancelled</h2>
              <div class="row card-background mt-4">
               <div class="col col-lg-6   mt-3">
                   <p class="mb-0"><%= link_to booking.event.title, booking.event %></p>
                   Starts at: <%= booking.event.start_at.to_formatted_s(:long_ordinal) %>
                   Ends at: <%= booking.event.ends_at.to_formatted_s(:long_ordinal) %>
                   <!-- other datetime formats here https://api.rubyonrails.org/classes/DateTime.html -->
               </div>

               <div class="col-md-auto col-lg-6 col-md-8 col-sm-4 mt-3">

                Address: <%= booking.event.address %>

                <%= booking.event.spots %>
               </div>


              </div>
             </div>

                  <% end %>
            <% end %>
            <% end %>
            <% end %>
             </div>
    </div>
</div>
