<div class="my-forms my-4">
  <div class="container w-50 py-3 purple-gradient color-block" id="form-container">
    <h5 class="text-center">Edit event</h5>
    <%= link_to "<< Go back to the organization", @organization, id:'link-organization' %>
    <%= simple_form_for [@organization, @event] do |f| %>
      <%= f.input :title, label_html: {class:'pt-1'} %>
      <%= f.input :start_at, as: :datetime %>
      <%= f.input :ends_at, label_html: {class:'pt-1'} %>
      <%= f.input :address, label_html: {class:'pt-1'} %>
      <%= f.input :task, label_html: {class:'pt-1'} %>
      <%= f.input :description, label_html: {class:'pt-1'} %>
      <%= f.input :spots, label_html: {class:'pt-1'} %>
      <%= f.input :category, collection: Organization::CATEGORIES, label_html: { class:'pt-1'} %>
       <%= f.file_field :photo, label_html: {class:'pt-2'} %>
      <%#= f.input :photo_cache, as: :hidden %>
      <div class="text-center">
        <%= f.submit "Update event", class: "btn btn-primary mb-5" %>
      </div>
    <% end %>
  </div>
</div>
