<div class="flexbox-container">
  <h3 class="pt-4 pb-2 text-center" style="color:grey;">Upcoming Events</h3>
</div>

<div class="d-flex border-bottom ml-5">
  <% if policy(@events).index? %>
    <div class="ui compact menu my-auto">
    <div class="ui simple dropdown item">
      Category
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item"><%= link_to "Environment", category: "Environment" %></div>
        <div class="item"><%= link_to "Animal", category: "Animal" %></div>
        <div class="item"><%= link_to "Community", category: "Community" %></div>
      </div>
    </div>
  </div>
  <%= form_tag events_path, id: "event-form",method: :get do %>
    <div class="index-search">
      <span class="fas fa-search"></span>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        style: "margin-right: 20px;",
        placeholder: "Find the perfect event for you..."
      %>
    </div>
    <%= text_field_tag :date, params[:date], class: "form-control", data: { behavior: 'daterangepicker' } %>
    <%= submit_tag :search, class: "btn btn-event-index" %>
  <% end %>
</div>

<% end %>

<div class="index-container">
  <div class="events-index-grid">
    <div class ="cards">
    <% @events.each do |event| %>
    <div class="card-product">
      <div class="card-image">
        <%= cl_image_tag(event.photo, width: 120, height: 150, crop: :fill) %>
      </div>
      <div class= "card-product-infos">
        <div class="product-title">
          <h2 style="padding-top: 3px;"> <%= event.title %></h2>
          <div style ="padding-left: 10px; padding-bottom: 10px;">
           <% case event.category
           when event.category = "Animal" %>
          <i class="fas fa-paw" style="color:brown"  ></i>
           <% when event.category = "Environment" %>
          <i class="fas fa-leaf" style="color:green"  img align="right" ></i>
           <% when event.category = "Community" %>
          <i class="fas fa-hands-helping"  img align="right" ></i>


           <% else %>
           <p> " " </p>
         <% end %>
        </div>
         </div>



        <p> <%= event.start_at.strftime("Starts %B %d at %I:%M %p") %></p>

        <button class="btn button_landingpage"><%= link_to "More Information", event %></button>
      </div>
    </div>
    <% end %>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>">
  </div>
  </div>
  </div>










