<div class="container">
  <div class="flexbox-container">
    <h3 class="pt-4 pb-2 text-center" style="color:grey;">Upcoming Events</h3>
  </div>
<% if policy(@events).index? %>
  <div class="d-flex justify-content-start">
  <%= form_tag events_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control m-10",
      placeholder: "Find the perfect event for you..."
    %>
    <%= text_field_tag :date, params[:date], class: "form-control", data: { behavior: 'daterangepicker' } %>
    <%= submit_tag :search, class: "btn button_landingpage" %>
  <% end %>
  </div>


  <!-- Commented out the dropdown for friday demo -->
<div class="ui compact menu">
   <div class="ui simple dropdown item">
     Dropdown
     <i class="dropdown icon"></i>
     <div class="menu">
       <div class="item"><%= link_to "Environment", query: "Environment" %></div>
       <div class="item"><%= link_to "Animal", query: "Animal" %></div>
       <div class="item"><%= link_to "Community", query: "Community" %></div>
     </div>
   </div>
  </div> -->
<% end %>


  <div class="events-index-grid">
    <div class ="cards">
    <% @events.each do |event| %>
    <div class="card-product">
      <div class="card-image">
        <%= cl_image_tag(event.photo, width: 120, height: 150, crop: :fill) %>
      </div>
      <div class= "card-product-infos">
        <h2> <%= event.title %></h2>
        <p> <%= event.start_at.strftime("Starts %B %d at %I:%M %p") %></p>
        <% case event.category
           when event.category = "Animal" %>
          <i class="fas fa-paw" style="color:brown"></i>
           <% when event.category = "Environment" %>
          <i class="fas fa-leaf" style="color:green"></i>
           <% when event.category = "Community" %>
          <i class="fas fa-hands-helping"></i>
           <% else %>
           <p> " " </p>
         <% end %>
        <button class="btn button_landingpage"><%= link_to "More Information", event %></button>
      </div>
    </div>
    <% end %>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>">
  </div>
  </div>
  </div>










