<div class="mt-2 ml-5">
  <%= link_to "<< All events", events_path, id:"link-organization" %>
</div>

<div class="container mt-5">
  <h5><%= @event.title %></h5>
  <h3>Hosted by <%= link_to @event.organization.name, organization_path(@event.organization), id:"link-organization"  %></h3>
  <div class="events-index-grid">
        <!-- <h1 class="text-center">My Profile</h1> -->
          <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <%= image_tag @event.photo, :class => "card-img"%>
          </div>
          <div class="card-event-show col-lg-12 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-4">Address:</div>
              <div class="col-8"><%= @event.address %></div>
              <div class="col-4">Starts at:</div>
              <div class="col-8"><%= @event.start_at.to_formatted_s(:long_ordinal) %></div>
              <div class="col-4">Ends at:</div>
              <div class="col-8"><%= @event.ends_at.to_formatted_s(:long_ordinal) %></div>
              <div class="col-4">Spots:</div>
              <div class="col-8"><%= @event.spots %></div>
              </div>
              <%= link_to "Apply now", event_bookings_path(@event), method: :post, class:"btn btn-success" %>
            </div>
          </div>

          </div>
          <div class="container  mt-5">
            <h3>Event Description:</h3>
            <p><%= @event.description  %></p>
          </div>



    <% if @event.organization.user == current_user %>
      <% if @bookings.empty? %>
      <div class="container card-background">
        <p>No Bookings yet</p>
      <% else %>
        <% @bookings.each do |booking| %>
            <div class="row">
              <div class="col">
                <%= link_to "#{booking.user.first_name} #{booking.user.last_name}" , user_path(booking.user) %>
              </div>
              <div class="col">
                Status: <%= booking.status %>
              </div>
              <div class="col">
                <% if booking.status == "Pending" %>
                  <%= link_to 'Confirm', approve_booking_path(booking, event_id:@event.id), method: :post, class:"btn btn-confirm" %>
                  <%= link_to 'Reject', reject_booking_path(booking, event_id:@event.id), method: :post, class:"btn btn-reject" %>
                <% end %>
              </div>
            </div>
        <% end %>
      <% end %>
    <% end %>
</div>

<% if current_user == @event.organization.user %>
  <%= link_to "Edit event", edit_organization_event_path(@organization, @event) %>
<% end %>

</div>
</div>
