<div class="my-forms my-4">
  <div class="container py-3 purple-gradient color-block">
    <h5 class="text-center">Create Organization</h5>
    <%= simple_form_for [@organization] do |f| %>
      <%= f.input :name, label_html: {class:'pt-4'} %>
      <%= f.input :address, label_html: {class:'pt-1'} %>
      <%= f.input :description, label_html: {class:'pt-1'} %>
      <%= f.input :url, label_html: {class:'pt-1'} %>
      <%= f.input :category, collection: Organization::CATEGORIES, label_html: { class:'pt-1'} %>
       <%= f.file_field :photo_url, label_html: {class:'pt-2'} %>
      <%= f.input :photo_url_cache, as: :hidden %>
    </div>
    <div class="text-center">
      <%= f.submit "Create Organization", class: "btn btn-primary mb-5" %>
    <% end %>
    </div>
  </div>
</div>



