
<div class="container">
  <div class="card" id="organization-show">
          <div class="col text-center"><h2><%= @organization.name %></h2></div>
          <div class="col text-center pb-3">
                      <% if !@reviews.empty? %>

            <% sum = 0.0  %>
            <% @reviews.each do |review| %>
            <% sum += review.rating %>
            <% end %>
            <% average = sum / @reviews.size %>
            <% stars = average.to_i %>
            <% stars.times do %>
            <i class="fas fa-star"></i>
            <% end %>
            (<%= average.round(2) %>)
              | <a href='#' class="text-primary" data-toggle="modal" data-target="#reviews">
            <%= @reviews.size %> reviews
          </a>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="reviews" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Reviews of <%= @organization.name %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <% @reviews.each do |review| %>
  <p>
    <% review.rating.times do %>
      <i class="fas fa-star"></i>
    <% end %>

    <% (5 - review.rating).times do %>
      <i class="far fa-star"></i>
    <% end %>
  </p>
  <%= review.content %>
<% end %>

                </div>
              </div>
            </div>
          </div>
          <% end %>








          <div class="col text-center pb-3">created by <% if policy(User).show? %>
          <%= link_to @organization.user.first_name, user_path(@organization.user), id:'link-organization' %>
          <% end %>
          </div>
          <div class="row d-flex">
          <div class="w-40"></div>
          <div class="w-100"></div>
          <div class="col-3"><strong>Address:</strong></div>
          <div class="col-8"><%= @organization.address %></div>
          <div class="w-100"></div>
          <div class="col-3"><strong>Website:</strong></div>
          <div class="col-8"><%= @organization.url %></div>
          <div class="w-40"></div>
          <div class="col-3"><strong>Category:</strong></div>
          <div class="col-8"><%= @organization.category %></div>
          <div class="w-40"></div>
          <div class="col-3"><strong>Phone:</strong></div>
          <div class="col-8"><%= @organization.user.phone %></div>
          <div class="w-40"></div>
          <div class="col-3"><strong>Description:</strong></div>
          <div class="col-8"><%= @organization.description %></div>
          <div class="w-40"></div>
          <div class="col-3"><strong>Email:</strong></div>
          <div class="col-8"><%= @organization.user.email %></div>
          <div class="w-40"></div>
          <% if @organization.user == current_user %>
            <div class="col-12" style="margin: 5px 100px;">
              <%= link_to "Edit organization", edit_organization_path(@organization), class:'btn-organization-show mr-2' %>
              <%= link_to "Create a new event", new_organization_event_path(@organization), class:'btn-organization-show mr-2' %>
              <%= link_to "Destroy organization", organization_path(@organization), data: {:confirm => 'Are you sure?'}, method: :delete, id:'link-organization' %>
            </div>
          <% end %>
          </div>
  </div>

  <h2 class="text-center mt-2">Upcoming events:</h2>
</div>

<div class="container">
  <div class="card-container w-60">
    <div class="row">
      <% @events.each do |event| %>
      <div class="cards col-6 mb-3">
      <div class="card-product">
        <div class="card-image">
          <%= cl_image_tag(event.photo, width: 120, height: 150, crop: :fill) %>
        </div>
        <div class= "card-product-infos">
          <h2> <%= event.title %></h2>
          <p> <%= event.start_at.strftime("Starts %B %d at %I:%M %p") %></p>
          <% case event.category
             when event.category = "Animal" %>
            <i class="fas fa-paw" style="color:brown"></i>
             <% when event.category = "Environment" %>
            <i class="fas fa-leaf" style="color:green"></i>
             <% when event.category = "Community" %>
            <i class="fas fa-hands-helping"></i>
             <% else %>
             <p> " " </p>
           <% end %>
          <button class="btn button_landingpage"><%= link_to "More Information", event %></button>
        </div>
      </div>
    </div>
      <% end %>

  </div>
</div>
</div>

